{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30"
             height="30" class="rounded d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:index' %}">
              Главная
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Об авторе</a>
            <div class="dropdown-menu bg-light">
              <a class="dropdown-item" href="{% url 'about:author' %}">Профиль автора</a>
              <a class="dropdown-item" href="{% url 'about:tech' %}">Технологии</a>
              <a class="dropdown-item" href="https://github.com/T1RuS">Git Автора</a>
              <a class="dropdown-item" href="https://vk.com/t1rusx">VK Автора</a>
            </div>
          </li>
        </ul>

        <div class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">
                Войти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:signup' %}">
                Зарегистрироваться
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>