<div class="card bg-light mb-3">
  <article class="">
    <ul class="card-header list-unstyled">
      <li>
        Автор: <a class="btn-link" href="{% url 'posts:user_posts' post.author %}">{{ post.author.get_full_name }}</a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <div class="card-body">
      <p>{{ post.text }}</p>
      {% if post.group %}
        <a class="btn btn-secondary" href="{% url 'posts:group_list' post.group.slug %}">
          Все записи группы: {{post.group.title}}</a>
      {% endif %}
    </div>
  </article>
</div>